.bg-light {
  background-color: rgb(238, 89, 3) !important;
  height: 10vh;
}

.fa-hamburger {
  font-size: 30px;
}

/* a.active{
  background-color: red;
} */

.linkDec{
  text-decoration: none;
  color: black;
}
.navbar-brand {
  font-family: "Sofia", sans-serif;
  font-size: x-large;
  font-weight: bold;
  padding-left: 1pc;
}

.nav-item:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.btn:hover {
  color: orangered;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: white;
}
